body {
    margin: 0;
    background: #fff;
}

#game {
    margin: 0 auto;
    position: relative;
}

.fblike {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 39%;
	top: 1%;
	z-index: 1000;
}